<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/theme.css">
    <link rel="stylesheet" href="/static/custom.css">
    <title>#<%= @name %></title>
    </head>
    <body>
    <header>
        <nav>
        <ul><li><strong><a href="/">A Programmer's Log</a></strong></li></ul>
        <ul>
          <% categories.each do |category| %>
                <li><a href="/categories/<%= category %>" style="padding-bottom: 0px; padding-top: 0px"><%= category.capitalize %></a></li>
            <% end %>
        </ul>
        </nav>
    </header>

    <main>
    <h2> #<%= @name %> </h2>
    <ul>
    <% @pages.each do |page| %>
        <li><a href="/<%= page.href %>"><%= page.title %></a>&nbsp<em><%= page.date %></em></li>
    <% end %>
    </ul>
    </body>
</html>
